.navbar {
  .brand {
    .nav-info {
      display: none;
    }
    background-color: #f1f3f8;
    padding: 20px;
    h1 {
      span {
        color: #07689f;
      }
    }
  }
  .main-nav {
    padding: 15px;
    background-color: #393b44;
    color: #f1f3f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main-wrapper {
      display: none;
      .nav-list {
        display: flex;
        list-style-type: none;
        .nav-item {
          margin-right: 10px;
          .nav-link {
            background-color: transparent !important;
            font-size: 16px;
            &:hover {
              color: #fb7813;
              transition: 0.7s;
            }
          }
        }
      }
    }

    .mobile-wrapper {
      display: flex;
      align-items: center;
      p {
        margin-left: 13px;
        font-size: 16px;
        letter-spacing: 2px;
      }
      span {
        font-size: 22px;
        cursor: pointer;
        margin-left: 10px;
      }
    }
    .sticky {
      z-index: 1;
      position: fixed;
      top: 0;
      width: 100%;
    }

    a {
      text-decoration: none;
      color: #ffffff;
      background-color: #fb7813;
      padding: 10px 13px;
      border-radius: 12px;
      font-size: 12px;
      letter-spacing: 1px;
      margin-right: 1 0px;
    }
  }
  .mobile_sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

@media (min-width: 1000px) {
  .navbar {
    .brand {
      display: flex;
      justify-content: space-around;
      .nav-info {
        margin-left: 50px;
        display: flex;
        justify-content: space-evenly;
        .item {
          display: flex;
          align-items: center;
          margin-right: 55px;
          span {
            margin-right: 15px;
            font-size: 38px;
            color: #07689f;
          }
          p {
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 1px;
          }
        }
      }
    }
    .sticky {
      z-index: 1;
      position: fixed;
      top: 0;
      width: 100%;
    }

    .main-nav {
      .mobile-wrapper {
        display: none;
      }
      a {
        font-size: 16px;
        margin-right: 30px;
        padding: 10px 20px;
      }

      .main-wrapper {
        display: block;
      }
    }
  }
}
